  header, body, footer {
    background-color: #201F6C;
  }

  .content {
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .intro-text {
    position: absolute;
    margin-top: 150px;
    margin-left: 65px;
    flex-direction: column;
    align-items: left;
    color: #ffffff;
    vertical-align: top;
    display: inline-block;
    text-align: left;
  }
  
  .slogan {
    font-size: 80px;
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .text {
    margin-top: 25px;
    font-size: 20px;
    max-width: 48%;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
  }

  .logo-image {
    margin-left: 65px;
    margin-top: 100px;
    width: 225px;
  }

  .landing-image {
    position: relative;
    float: right;
    width: 50%;
    margin-right: 35px;
  }

  .button-image {
    flex-direction: column;
    float: left;
    position: absolute;
    margin-top: -10px;
    margin-left: -35px;
  }
  
  a, a:visited, a:hover {
    color: #FC997F;
    text-decoration: none;
  }

  a:hover {
    color: #FC997F;
  }

  #contact-info {
    display: flex;
    justify-content: center;
    background-color: #201F6C;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 0 auto;
  }