  header, body, footer {
    background-color: #201F6C;
  }

  #login-signup {
    margin-right: 500px;
  }

  #section-text {
    font-family: 'proxima-nova', sans-serif;
    padding-top: 50px; 
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
  }

  #section-text2 {
    font-family: 'proxima-nova', sans-serif;
    padding-top: 55px;
    padding-bottom: 10px; 
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
  }

  input[type=submit] {
    border-radius: 25px;
    border: 1;
    margin-top: 85px;
    width: 100px;
    height: 46px;
    font-family: 'proxima-nova', sans-serif;
    background-color: #3533A6;
    color: #ffffff;
    margin-right: 10px;
  }

  input[type=text], input[type=password] {
    border-radius: 25px;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-top: 85px;
    margin-right: 10px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .content {
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .intro-text {
    font-family: 'proxima-nova', sans-serif;
    position: absolute;
    margin-top: 150px;
    margin-left: 65px;
    flex-direction: column;
    align-items: left;
    color: #ffffff;
    vertical-align: top;
    display: inline-block;
    text-align: left;
  }
  
  .slogan {
    font-family: 'proxima-nova', sans-serif;
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 25px;
    white-space: nowrap;
  }

  .text {
    margin-top: 25px;
    font-size: 20px;
    max-width: 48%;
    line-height: 1.5em;
  }

  .toolbar {
    justify-content: space-between;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
  }

  .logo-image {
    margin-left: 65px;
    margin-top: 100px;
    width: 225px;
  }

  .landing-image {
    position: relative;
    float: right;
    width: 50%;
    margin-right: 35px;
  }

  .button-image {
    flex-direction: column;
    float: left;
    position: absolute;
    margin-top: -10px;
    margin-left: -35px;
  }

  #key-features {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 400px;
  }

  a, a:visited, a:hover {
    color: #FC997F;
    text-decoration: none;
  }

  a:hover {
    color: #FC997F;
  }

  #team-info {
    width: 100%;
    background-color: #201F6C;
    padding-bottom: 25px;
  }

  #contact-info {
    display: flex;
    justify-content: center;
    background-color: #201F6C;
    padding-top: 30px;
    text-align: center;
    color: white;
    margin-left: 20px;
  }

  .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 24vw;
  }

  .team-image {
    border-radius: 25px;
    width: 275px;
    height: 350px;
    background-color: grey;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .caption {
    padding-top: 15px;
    color: #ffffff;
    display: block;
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
  }